#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ////////////TAB */
.tab {
  border: 1px solid purple;
  border-radius: 5px;
  overflow: hidden;
}

.tab-header {
  background-color: #f0f0f0;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

.tab-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

.tab-content {
  padding: 10px;
}

.minimized {
  height: 0;
  overflow: hidden;
}

.maximized {
  width: 100%;
  height: 100%;
}

/* //////////////////////////////// */

.main-title {
  background-color: burlywood;
  margin-top: 0;
  padding: 5px;
  border: 1px solid maroon;
  border-radius: 5px;
}

.main-elements {
  display: flex;
  justify-content: center;
}

.clothes-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-name {
  font-weight: bold;
  margin-right: 20px;
}

/* ////////FORMA//////////// */

.form {
  margin: 0;
  padding: 5px;
  place-items: center;
  background-color: rgba(220, 220, 220, 0.493);
  border-radius: 20px;
}

.form-element {
  border: 1px solid brown;
  border-radius: 1em;
  padding: 0.7em;
  font-weight: bold;
  margin: 10px;
}

input {
  margin: 1px 5px;
}

.submit-button {
  background-color: lightgreen;
  margin-bottom: 5px;
}

/* ////////////TABLICA//////////// */

.wardrobe-title {
  margin-top: 0;
}

table {
  border-spacing: 0;
  margin: 20px;
}

th {
  background-color: greenyellow;
  padding: 5px 15px;
  border: 1px solid black;
}

td {
  background-color: bisque;
  border: 1px solid black;
  padding: 5px 15px;
}
