#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  margin: 0;
  place-items: center;
  background-color: rgba(220, 220, 220, 0.685);
  max-width: 80vw;
  border-radius: 20px;
}

.form-element {
  border: 3px solid rgb(173, 198, 230);
  border-radius: 0.8em;
  padding: 1em;
  font-weight: bold;
  margin-top: 2em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
