#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  margin: 0;
  padding: auto;
  place-items: center;
  background-color: #dedede;
  max-width: 80vw;
  border-radius: 20px;
}

.form-element {
  border: 3px solid rgb(173, 198, 230);
  border-radius: 0.5em;
  padding: 1em;
  font-weight: bold;
  margin: 50px 30px;
}

.terms-confirmation {
  text-align: left;
  margin-left: 30px;
}
input[type='checkbox'] {
  transform: scale(1.5);
}
.acceptance {
  margin-left: 10px;
  font-size: 1.4rem;
}
