#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  margin: 0;
  padding: auto;
  place-items: center;
  background-color: #dedede;
  width: 40vw;
  border-radius: 20px;
}

.form-element-wrapper {
  display: flex;
  flex-direction: column;
}

.form-element {
  border: 3px solid rgb(173, 198, 230);
  border-radius: 1em;
  padding: 1em;
  font-weight: bold;
  width: 80%;
  align-self: center;
}

.terms-confirmation {
  text-align: left;
  margin-left: 30px;
}

.text-input {
  width: 100%;
}
input[type='checkbox'] {
  transform: scale(1.5);
}
.acceptance {
  margin-left: 10px;
  font-size: 1.4rem;
}
