@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b244a;
  font-family: 'Cursed Timer ULiL', sans-serif;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #39ace7;
}
.board {
  margin: 0;
  /* display: flex; */
  place-items: center;
  /* height: 80vh; */
  background-color: #cadeef;
  max-width: 80vw;
  border-radius: 30px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}
header {
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 5px solid rgb(167, 160, 160);
  padding: 1em;
  display: block;
}
.results {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.home,
.guest {
  border: 2px solid whitesmoke;
  border-radius: 0.8em;
  padding: 1em;
  font-weight: bold;
  margin-top: 2em;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #0784b5;
}

.score-wrapper {
  align-self: center;
}
.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-score,
.guest-score {
  max-width: 200px;
  padding: 10px;
  align-items: center;
}

img {
  height: 160px;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #9bd4e4;
  border-radius: 0 0 30px 30px;
  margin-top: 30px;
}

span {
  margin-right: 8px;
}

.shots,
.possession,
.passes,
.fouls,
.corners,
.offsides,
.penalties,
.yellows,
.reds {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.stat-btn {
  padding: 0.3rem;
  color: lightcoral;
}
