.teachers-page {
  display: flex;
}

.team .items {
  transition: 0.5s;
  border-radius: 15px;
}
.team .img {
  position: relative;
}
.team img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
}
.overlay i {
  background-color: #000;
  color: #fff;
  margin: 5px;
  transition: 0.5s;
}
.team .details {
  padding: 30px;
  text-align: center;
}
.team .details h2 {
  font-weight: 500;
  font-size: 20px;
  transition: 0.5s;
}
.team .details p {
  font-size: 15px;
  color: grey;
  margin-top: 10px;
  transition: 0.5s;
}
.team .items:hover {
  background-color: #1eb2a6;
  color: #fff;
  cursor: pointer;
}
.team .items:hover p {
  color: #fff;
}
.team .items:hover .overlay {
  opacity: 1;
}
.team .items:hover .overlay i:hover {
  background-color: #1eb2a6;
  color: #fff;
}

/* FILTERS */
.filters {
  display: flex;
  justify-content: top;
  flex-direction: column;
  margin-left: 20px;
}

.filters label,
h1 {
  padding: 10px;
}

.teacher-organization {
  text-align: left;
  margin-left: 5px;
}

.organization-title {
  font-weight: bolder;
  font-size: 16px;
}

.themes {
  margin: 0px 5px;
  font-weight: bolder;
  font-size: 16px;
}

.fragment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.teacher-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

/*---BUTTONS---*/
.add-teacher {
  display: flex;
  margin: 0px 70px 30px auto;
  border: 2px solid #d2e23d;
  color: rgb(212, 197, 62);
}

.edit-teacher {
  margin-left: 20px;
  margin-top: 0;
  box-shadow: none;
  border: 2px solid #d2e23d;
  transition: 0.5s;
  color: rgb(212, 197, 62);
}

.teacher-courses {
  border: 2px solid #3de23d;
  margin-top: 0;
}

.teacher-courses:hover {
  background-color: #9bd888;
  color: #fff;
}

.edit-teacher:hover,
.add-teacher:hover {
  background-color: #d8d787;
  color: #fff;
}
